node_modules/
dist/
coverage/
.env
.env.*
!.env.example
docs/

# local package builds
tally-js*.tgz

# Editor directories and files
.vscode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log